.History {
  text-align: center;
}

.History-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 4vmin;
  pointer-events: none;
}

.History-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.History-header-date {
  font-size: 13px;
}

.button-background {background-color:#ADC7C9;}

.History-toolbar-Graph {
  display: flex;
  flex-direction: row;
}



.History-body {
  min-height: 90vh;
  display: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.History-chart {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.History-link {
  color: #61dafb;
}

@keyframes History-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
